<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Việt Vang</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/main.css')}}">
</head>

<body>
    <div class="container">
        <h2 style="text-align: center;">Forex Rates Table</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center">STT</th>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Value 1</th>
                    <th style="text-align: center">Value 2</th>
                </tr>
            </thead>
            <tbody>
                {% for dt in data %}
                <tr>
                    <td align="center">{{dt[0]}}</td>
                    <td align="center">{{dt[1]}}</td>
                    <td align="center">{{dt[2]}}</td>
                    <td align="center">{{dt[3]}}</td>
                </tr>
                {% if dt[1] == "HKD" %}
                <tr class="highlight">
                    <td align="center">{{dt[0]}}</td>
                    <td align="center">{{dt[1]}}</td>
                    <td align="center">{{dt[2]}}</td>
                    <td align="center">{{dt[3]}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>